<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where 2 Meat</title>
    <!-- css -->
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <!-- <link rel="stylesheet" href="./css/nav.css"> -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/nav.css">

    <!-- js -->
    <script type="module" src="./main.js"></script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGH3JiAZfOMBon4qNy-MBiL7PFGqSDAyI&callback=initMap">
            </script>
</head>

<body class="flex">
    <aside>
        <nav>
            <header class="logo">
                <img src="./logo.png" alt="logo" title="where to meet">
                where 2 meat
            </header>
            <details class="location" open>
                <summary>
                    Location
                </summary>
                <div class="location-picker" data-items="3">
                    <div class="location-picker__item">
                        <input type="text" name="location-1" placeholder="Enter location"
                               list="list-1">
                        <datalist id="list-1">
                        </datalist>
                    </div>
                    <div class="location-picker__item">
                        <input type="text" name="location-2" placeholder="Enter location"
                               list="list-2">
                        <datalist id="list-2">
                        </datalist>
                    </div>
                    <div class="location-picker__item">
                        <input type="text" name="location-3" placeholder="Enter location"
                               list="list-3">
                        <datalist id="list-3">
                        </datalist>
                    </div>
                    <footer class="button-container">
                        <button class="add-item__btn">
                            <!-- <img src="./public/plus.svg" alt="add item"> -->
                            <img src="/plus.svg" alt="add item">
                        </button>
                        <button id="submit">
                            <img src="/check.svg" alt="remove item">
                        </button>
                    </footer>
                </div>
                <div>
            </details>
            <section>
                <h2>Recommendations</h2>
                <section class="recommendation-container">
                    <!-- <article class="recommendation">

                        <div class="column-1">
                            <h2>Hello World, restaurant</h2>
                            <div class="information">
                                <div class="rating">
                                    <div>4.5</div>
                                    <span class="stars">★★★★★</span>
                                </div>
                                <div class="health">
                                    <div>3</div>
                                    <span class="hearts">
                                        ❤️❤️❤️❤️❤️
                                    </span>
                                </div>
                                <div class="open-stauts">
                                    OPEN
                                </div>
                            </div>
                        </div>

                        <div class="column-2">
                            <img src="http://via.placeholder.com/640x360" alt="">
                        </div> -->
                    </article>
                </section>
            </section>
        </nav>
    </aside>
    <main>
        <section class="main">
            <div id="map"></div>
            <!-- <iframe style="border:0" loading="lazy" allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAGH3JiAZfOMBon4qNy-MBiL7PFGqSDAyI
    &q=caulfield">
            </iframe> -->
        </section>
    </main>
</body>

</html>